body {
  width: 50em;
  margin: 1em auto;
}

h1 {
  font-family: "Modern No. 20", cursive;
  letter-spacing: 1em;
  color: cornflowerblue;
  background-color: yellow;
  padding: 1em;
  border: 3px solid black;
  border-radius: 50%;
  text-align: center;
}

nav {
  border-bottom: 2px solid darkgray;
  background-color: rgba(000,263,263,0.4);
  ul {
    li {
      display: inline-block;
      font-family: Impact;
      padding: 2rem 2rem 0;
    }
  }
}
form {
  label {
    span {
      background-color: red;
    }
  }
}
button {
  display:block;
  color: black;
}
button a {
  text-decoration: none;
}