<!doctype html>
<html lang="nl" xmlns:th="www.thymeleaf.org">
<head th:replace="fragments::head(title='Frituur Frida')"></head>
<body>
    <h1>Frituur Frida</h1>
    <nav th:replace="fragments::menu"></nav>
    <p>Welkom<span th:if="${terugkerendBezoeker}"> terug</span>!</p>
    <p th:text="|Vandaag zijn wij ${openOfGesloten}!|"></p>
    <h2>Adres</h2>
    <p th:object="${adres}"
       th:text="|*{straat} *{huisNr}|"></p>
    <p th:object="${adres.gemeente}"
       th:text="|*{postcode} *{naam}|"></p>
</body>
</html>