<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Sauzen')"></head>
<body>
    <h1>Frituur Frida</h1>
    <nav th:replace="fragments::menu"></nav>

    <h2>Sauzen</h2>
    <ul th:each="saus:${lijstVanSauzen}" th:object="${saus}">
        <li>
            <a th:href="@{/sauzen/{nummer}(nummer=*{nummer})}"
               th:text="*{naam}">
                <ul th:each="ingredient:*{ingredienten}">
                    <li th:text="${ingredient}"></li>
                </ul>
            </a>
        </li>
    </ul>
</body>
</html>