<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Frituur Frida - Sauzen</title>
    <link rel="icon" th:href="@{images/frida.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{css/stijl.css}">
</head>
<body>
    <h1>Frituur Frida</h1>
    <h2>Sauzen</h2>
    <ul th:each="saus:${lijstVanSauzen}" th:object="${saus}">
        <li>
            <p th:text="*{naam}"></p>
            <ul th:each="ingredient:*{ingredienten}">
                <li th:text="${ingredient}"></li>
            </ul>
        </li>
    </ul>
</body>
</html>