<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Snacks')"></head>
<body>
    <h1>Frituur Frida</h1>
    <nav th:replace="fragments::menu"></nav>
    <nav th:replace="fragments::alfabet"></nav>
    <h2>Snacks</h2>
    <p th:if="${lijstVanSnacks.isEmpty()}"
       th:text="|Geen snacks die beginnen met ${letter}.|"></p>
    <ul th:each="snack:${lijstVanSnacks}" th:object="${snack}">
        <li th:text="*{naam}"></li>
    </ul>
</body>
</html>